@import '../../styles/variables.scss';

.outer {
  position: relative;
}

.flower {
  position: absolute;
  left: 280px;
  bottom: -50px;
  height: 600px;
  filter: drop-shadow(0px -3px 3px $color-text-secondary) grayscale(100%);
}

.tape {
  position: absolute;
  right: -60px;
  top: -30px;
  z-index: 10;
  width: 200px;
  transform: rotate(-135deg);
  filter: drop-shadow(0px -1px 1px $color-text-secondary) grayscale(100%);
  opacity: 0.97;
}

.wrapper {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-medium;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: $color-bg-opacity;
  transition: $transition;
  border: 3px solid $color-accent-primary;
  overflow: hidden;

  .methods {
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
    width: 100%;

    .method {
      .definition {
        font-weight: bold;
        color: $color-accent-primary;
        font-size: $font-size-large;

        .icon {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.tabs {
  width: 100%;
  display: flex;
  gap: $spacing-small;

  .tab {


    & button {
      padding: $spacing-small $spacing-large;
      border: none;
      outline: none;
      position: relative;
      top: 3px;
      z-index: 10;
      background-color: #fff;
      border: 3px solid $color-accent-primary;
      border-radius: $border-radius-medium $border-radius-medium 0 0;
      color: $color-accent-primary;
      font-size: $font-size-medium;
      font-weight: 100;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background-color: $color-accent-secondary;
      }
    }

    &.active button {
      background-color: $color-accent-primary;
      color: #fff;
    }
  }
}
