@import '../../styles/variables.scss';

.outer {
  position: relative;
}

.flower {
  position: absolute;
  left: 120px;
  bottom: -50px;
  height: 600px;
  filter: drop-shadow(0px -3px 3px $color-text-secondary) grayscale(100%);
}

.tape {
  position: absolute;
  right: -60px;
  top: -70px;
  z-index: 10;
  width: 200px;
  transform: rotate(-135deg);
  filter: drop-shadow(0px -1px 1px $color-text-secondary) grayscale(100%);
  opacity: 0.8;
}

.wrapper {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-medium;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(5px);
  background-color: $color-bg-opacity;
  transition: $transition;

  .methods {
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
    width: 100%;

    .method {
      .definition {
        font-weight: bold;
        color: $color-accent-primary;
        font-size: $font-size-large;

        .icon {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.tabs {
  width: 100%;
  display: flex;
  gap: $spacing-small;

  .tab {
    background-color: #fff;
    border-radius: $border-radius-medium;
    border: 3px solid $color-accent-primary;
    transition: $transition;
    transform: translateY(-5px);
    box-shadow: 0 5px 0px $color-accent-primary;

    &.active {
      transform: translateY(0px);
      box-shadow: 0 0px 0px $color-accent-primary;
    }

    & button {
      background-color: transparent;
      border: none;
      outline: none;
      color: $color-accent-primary;
      font-size: $font-size-large;
      padding: $spacing-small $spacing-medium;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
