@import '../../../styles/variables.scss';

.wrapper {
  display: inline-block;
  cursor: pointer;
  padding: $spacing-medium;
  position: relative;
  top: 0;
  transition: $transition;

  .button {
    all: unset;

    .text {
      font-size: $font-size-large;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &:hover,
  &:focus {
    top: -5px;

    .button {
      box-shadow: 0px 5px 0px #fff;
    }
  }

  &:active {
    top: 0;
    transition: $transition-fast;
    .button {
      transition: $transition-fast;
      box-shadow: 0px 0px 0px #fff;
    }
  }
}

.light {
  .button {
    border: 3px solid $color-accent-primary;
    border-radius: $border-radius-medium;
    padding: $spacing-small $spacing-medium;
    background-color: #fff;
    transition: $transition;

    .text {
      color: $color-accent-primary;
    }
  }
}

.light:hover,
.light:focus {
  .button {
    border: 3px solid #fff;
    border-radius: $border-radius-medium;
    padding: $spacing-small $spacing-medium;
    background-color: $color-accent-primary;

    .text {
      color: #fff;
    }
  }
}

.light:active {
  top: 0;
  transition: $transition-fast;
}

.green {
  .button {
    border: 3px solid #fff;
    border-radius: $border-radius-medium;
    padding: $spacing-small $spacing-medium;
    background-color: $color-accent-primary;

    .text {
      color: #fff;
    }
  }
}

.green:hover,
.green:focus,
.green:active {
  .button {
    border: 3px solid $color-accent-primary;
    border-radius: $border-radius-medium;
    padding: $spacing-small $spacing-medium;
    background-color: #fff;
    transition: $transition;
    box-shadow: 0px 5px 0px $color-accent-primary;

    .text {
      color: $color-accent-primary;
    }
  }
}
