@import './variables.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-large;

  @media (max-width: 768px) {
    max-width: 768px;
    padding: 0 $spacing-medium;
  }

  @media (max-width: 480px) {
    max-width: 480px;
    padding: 0 $spacing-small;
  }
}

