@mixin icon-link($size, $color) {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: $transition;

  .icon {
    font-size: $size;
    color: $color;
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    top: 0.35rem;
  }

  .text {
    font-size: $size;
    color: $color;
  }
}
