// sizes
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;

$icon-size-small: 18px;
$icon-size-medium: 24px;
$icon-size-large: 36px;

$block-size: 80px;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-title: 30px;


// transitions
$transition: 0.25s ease;
$transition-fast: 0.05s;



// colors
$color-bg-primary: #f7f5f1;
$color-bg-secondary: #131315;

$color-text-primary: #131315;
$color-text-secondary: #35353c;

$color-accent-primary: #0DAF7A;
$color-accent-primary-dark: #064E3B;
$color-accent-secondary: #ECFDF5;

$color-error: #D32F2F;

$icon-color-dark: #131315;
$icon-color-black: #131315;
$icon-color-light: #f7f5f1;
$icon-color-white: #f7f5f1;
$icon-color-green: #0DAF7A;


// borders
$border-radius-small: 3px;
$border-radius-medium: 5px;
/* $border-radius-large: 10px; */


