// sizes
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;

$icon-size-small: 24px;
$icon-size-medium: 32px;
$icon-size-large: 40px;


// transitions
$transition: 0.25s ease;


// colors
$color-bg-primary: #f7f5f1;
$color-bg-secondary: #131315;

$color-text-primary: #131315;
$color-text-secondary: #f7f5f1;

$color-accent-primary: #0DAF7A;
$color-accent-primary-dark: #064E3B;
$color-accent-secondary: #ECFDF5;

$icon-color-dark: #131315;
$icon-color-light: #f7f5f1;


// borders
$border-radius-small: 3px;
$border-radius-medium: 5px;
/* $border-radius-large: 10px; */


