$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;

$icon-size-small: 24px;
$icon-size-medium: 32px;
$icon-size-large: 40px;

$icon-color-dark: #333;
$icon-color-light: #fff;

$transition: 0.25s ease;