@import '../../styles/variables.scss';

.wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid $color-accent-primary;
  background-color: #fff;
  transition: $transition;
  position: fixed;
  z-index: 100;
  right: -100px;
  bottom: 100px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-accent-primary;

    .icon {
      color: #fff;
      bottom: 3px;
    }
  }

  .icon {
    color: $color-accent-primary;
    font-size: 35px;
    position: relative;
    bottom: 1px;
    transition: $transition;
  }
}

.show {
  right: 100px;
}
