@import '../../../styles/variables.scss';

.wrapper {
  position: relative;

  .link {
    color: $color-text-primary;
    height: 30px;
    padding: $spacing-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-medium;
    background-color: #fff;
    border-radius: $border-radius-medium;
    transition: $transition;

    &.active {
      color: $color-bg-primary;
      background-color: $color-accent-primary;
    }

    &:hover {
      background-color: $color-accent-secondary;
    }
  }

  &:hover {
    .link.active {
      color: $color-bg-primary;
      background-color: $color-bg-secondary;
    }
    .icon {
      transform: rotate(-180deg);
    }
    .dropdownWrapper {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.dropdownWrapper {
  transition: $transition;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  position: absolute;
  top: 45px;
  z-index: 10;
}

.badge {
  position: absolute;
  bottom: 23px;
  left: 59px;
  background-color: $color-accent-primary;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid $color-bg-primary;
  transition: $transition;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .length {
    position: relative;
    top: -0.5px;
    cursor: pointer;
  }
}

.iconWrapper {
  transition: $transition;
  position: relative;
  top: 3px;
  left: 5px;

  .icon {
    transition: $transition;
  }
}
