@import '../../../styles/variables.scss';

.link {
  color: $color-text-primary;
  height: 30px;
  padding: $spacing-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #fff;
  border-radius: $border-radius-medium;
  transition: $transition;

  &:hover {
    background-color: $color-accent-secondary;
  }
}

.active {
  color: $color-bg-primary;
  background-color: $color-accent-primary;

  &:hover {
    color: $color-bg-primary;
    background-color: $color-bg-secondary;
  }
}
