@import '../../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  min-height: $block-size;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.title {
  color: $color-accent-primary;
  font-size: $font-size-title;
  transition: $transition;

  &:hover {
    color: $color-bg-secondary;
  }
}