@import '../../styles/variables.scss';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-medium;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(2px);
  background-color: $color-bg-opacity;
  transition: $transition;
  padding: $spacing-medium;

  &:hover {
    backdrop-filter: blur(0px);
  }
}

.image {
  min-height: 300px;
  height: 300px;
  min-width: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $color-accent-primary;

  img {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 5px 10px $color-bg-primary);
  }
}

.body {
  .title {
    margin-bottom: $spacing-medium;
    font-size: $font-size-title;

    .hand {
      position: relative;
      top: 5px;
      animation: hiShake 3s cubic-bezier(.36,.07,.19,.97) infinite;
    }
  }

  .paragraph {
    margin: 0;
    font-size: $font-size-medium;
  }

  .contacts {
    margin-top: $spacing-medium;
    width: 100%;
    display: flex;
    gap: $spacing-medium;
    align-items: center;
  }
}

.flower {
  position: absolute;
  right: 200px;
  bottom: 300px;
  height: 300px;
  filter: grayscale(100%);
  transform: scaleX(-1) rotate(-10deg);
}

@keyframes hiShake {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  35% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-10deg);

  }
}