@import '../../styles/variables.scss';

.wrapper {
  width: 100%;
  padding: $spacing-medium;
  color: $color-text-primary;
  background-color: #fff;
  border-radius: $border-radius-medium;

  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
}

.header {
  display: flex;
  align-items: center;

  .author {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-accent-primary;
    transition: $transition;

    &:hover {
      background-color: $color-accent-secondary;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(3px 3px 2px $color-bg-primary);
    }
  }

  .title {
    margin-left: $spacing-small;
  }

  .date {
    margin-left: auto;
    color: $color-accent-primary;
  }
}

// .content { 
//   text-align: justify;
// }

.footer {
  .link {
    transition: $transition;
    color: $color-accent-primary;
    font-size: 18px;

    &:hover {
      color: $color-accent-primary-dark;
    }

    .icon {
      position: relative;
      top: 3px;
    }

    span {
      margin-left: 3px;
    }
  }


}
