@import '../../../styles/global.scss';
@import '../../../styles/variables.scss';


.footer {
  width: 100%;
}

.wrapper {
  min-height: $block-size;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-medium;
}