@import '../../../styles/global.scss';
@import '../../../styles/variables.scss';


.footer {
  min-height: 100px;
  width: 100%;

}

.wrapper {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-medium;
}