@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  width: 100%;
  // gap: $spacing-medium;
  justify-content: space-between;
}

.workWith,
.notWorkWith {
  flex: 0 1 45%;

  h3 {
    margin-bottom: $spacing-medium;
    font-size: $font-size-large;
  }
}

.list {
  font-size: $font-size-medium;

  .icon {
    position: relative;
    top: 2px;
    margin-right: $spacing-small;
  }
}