@import '../../../styles/global.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

a {
  color: $icon-color-green;
  cursor: pointer;

  &:hover {
    color: $color-accent-primary-dark;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: $transition;

  span {
    font-size: $icon-size-medium;
    display: inline-block;

    &:first-child {
      margin-right: 3px;
      position: relative;
      top: 3px;
    }
  }

  &--sm {
    span {
      font-size: $icon-size-small;
    }
  }

  &--md {
    span {
      font-size: $icon-size-medium;
    }
  }

  &--xl {
    span {
      font-size: $icon-size-large;
    }
  }
}
